<form action="<%=users_url%>" method="POST" accept-charset="utf-8">


  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <h1> Sign Up </h1>
  <p>
  <label_for="user_name">User Name</label>
  <input type="text" name="user[user_name]" id = "user_name" value = "<%= @user.user_name %>" required/>
  </p>

  <p>
  <label_for="password">Password</label>
  <input type="password" name="user[password]" id = "password" required/>
  </p>

  <input type="submit" value="Sign Up Now!"/>
</form>