<h1>Cats</h1>

<ul>
  <% @cats.each do |cat| %>
    <li> <%= link_to(cat.name, cat_url(cat)) %>
  <% end %>
</ul>

<p>
  Currently logged in from:
  <ul>
    <% @sessions.each do |sesh| %>
      <li><%= "#{sesh.device} (#{sesh.login_location})"%>
        <%= " (Current)" if sesh.session_token == session[:session_token]%>
      <%= button_to "logout", session_url(sesh), method: :delete%>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to("Rent a cat!", new_cat_rental_request_url)%>
</p>

<%= link_to("See all approved requests", cat_rental_requests_url)%>

<p>
<%= link_to("Create a cat", new_cat_url)%>
</p>
