<form action="<%= @request.persisted? ? cat_rental_request_url(@request)
  : cat_rental_requests_url%>" method="POST" accept-charset="utf-8">
  <%== '<input type="hidden" name="_method" value="PATCH"/>' if @request.persisted? %>

  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <p>
  <label_for="cat">Cat Requested</label>
  <select name="request[cat_id]" id = "cat" required >
    <option></option>
    <% @cats.each do |cat| %>
      <option value="<%=cat.id%>" <%= cat.id == @request.cat_id ? "selected": "" %>
         ><%=cat.name%></option>
    <% end %>
  </select>
  </p>

  <p>
  <label_for="start_date">Start Date</label>
  <input type="date" name="request[start_date]" id = "start_date"
    value = "<%= @request.start_date %>" required/>
  </p>
  <p>
  <label_for="end_date">End Date</label>
  <input type="date" name="request[end_date]" id = "end_date"
    value = "<%= @request.end_date %>" required/>
  </p>

  <!-- <label_for="approval_status">Approval Status:</label>
  <select name="request[status]" id="approval_status" required>
    <option></option>
    <option value = "APPROVED">Approved</option>
    <option value = "PENDING">Pending</option>
    <option value = "DENIED">Denied</option>
  </select> -->

  <input type="submit"/>
</form>