<h1> Rental Request <%= @request.id%> </h1>



<table>
  <tr>
    <th>Cat Requested</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td><%= link_to(@cat.name, cat_url(@cat))%></td>
    <td><%= @request.start_date%></td>
    <td><%= @request.end_date%></td>
    <td><%= link_to("Edit", edit_cat_rental_request_url(@request)) %></td>
    <td><%= button_to("Delete", cat_rental_request_url(@request), method: :delete)%></td>
  </tr>
</table>