<form action="<%= @cat.persisted? ? cat_url(@cat) : cats_url%>"
  method="POST" accept-charset="utf-8">
  <%== '<input type="hidden" name="_method" value="PATCH"/>' if @cat.persisted? %>

  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <p>
  <label_for="name">Name</label>
  <input type="text" name="cat[name]" id = "name" value = "<%= @cat.name %>" required/>
  </p>

  <p>
  <label_for="age">Age</label>
  <input type="text" name="cat[age]" id = "age" value = "<%= @cat.age %>" required/>
  </p>

  <p>
  <% ["M", "F"].each do |sex| %>
    <label_for="cat_sex_<%=sex%>"><%=sex%></label>
    <input type="radio" name="cat[sex]" id = "cat_sex_<%=sex%>" value = "<%=sex%>"
      <%== @cat.sex == sex ? "checked" : "" %> required />
  <% end %>
  </p>

  <p>
  <label_for="color">Coat Color</label>
  <select name="cat[color]" id = "color" required >
    <option></option>
    <% @colors.each do |color| %>
      <option value="<%=color%>" <%= @cat.color == color ? "selected": "" %>
         ><%=color%></option>
    <% end %>
  </select>
  </p>

  <p>
  <label_for="birth_date">Birth Date</label>
  <input type="date" name="cat[birth_date]" id = "birth_date"
    value = "<%= @cat.birth_date %>" required/>
  </p>

  <input type="submit"/>
</form>