<h1><%= @cat.name %></h1>

<table>
  <tr>
    <th>Name</th>
    <td><%= @cat.name %></td>
  </tr>
  <tr>
    <th>Age</th>
    <td><%= @cat.age %></td>
  </tr>
  <tr>
    <th>Birthdate</th>
    <td><%= @cat.birth_date %></td>
  </tr>
  <tr>
    <th>Color</th>
    <td><%= @cat.color %></td>
  </tr>
  <tr>
    <th>Sex</th>
    <td><%= @cat.sex %></td>
  </tr>
</table>

<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Approve</th>
    <th>Deny</th>
  </tr>
  <%@requests.each do |request|%>
    <tr>
      <td><%= request.start_date%></td>
      <td><%= request.end_date%></td>
      <td><%= link_to("Edit", edit_cat_rental_request_url(request)) %></td>
      <td><%= button_to("Delete", cat_rental_request_url(request), method: :delete)%></td>
      <%if request.status == "PENDING" && cat_owner?%>
        <td><%= button_to("Approve", cat_rental_request_approve_url(request), method: :patch)%></td>
        <td><%= button_to("Deny", cat_rental_request_deny_url(request), method: :patch)%></td>
      <%elsif request.status == "APPROVED"%>
        <td>Approved!</td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to("Rent this cat!", new_cat_rental_request_url)%></p>

<p><%= link_to("Edit", edit_cat_url) %>
<%= button_to("Delete", cat_url, method: :delete)%></p>