<!DOCTYPE html>
<html>
<head>
  <title>Cats99</title>
  <!-- <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %> -->
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>hello
    <%=current_user.user_name%>
    <%= button_to("Log out", session_url(SessionToken.find_by_session_token(session[:session_token])), :method => 'delete')%>
  <% else %>
    <%= link_to("Log in", new_session_url) %>
    <%= link_to("Sign Up", new_user_url) %>
  <% end %>

<% unless flash[:errors].nil? || flash[:errors].empty? %>
  <p>
    <%= flash[:errors]%>
  </p>
<% end %>


<%= yield %>

</body>
</html>
